* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: linear-gradient(to left, #673ab7, #5c6bc0);
}
.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: minmax(100px, auto) repeat(6, 90px);
  justify-content: center;
  margin-top: 3%;
}

.calculator-grid > button {
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: bolder;
}
.calculator-grid > button:active {
  font-size: 1.5rem;
  background-color: #66bb6a;
}
.span-two {
  grid-column: span 2;
}
.clr {
  background-color: #607d8b;
}
.del {
  background-color: #f4511e;
}
.eql {
  background-color: #3cc442;
}
.op {
  background-color: #cfd8dc;
}
.output {
  grid-column: 1/-1;
  color: white;
  background-color: rgb(59, 59, 59);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.previous {
  font-size: 2.5rem;
}
.current {
  font-size: 2rem;
  color: rgba(241, 239, 239, 0.75);
}
h2 {
  color: rgba(59, 59, 59, 0.342);
}
